extends layout

block content

    link(rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css")
    script(src="https://code.jquery.com/jquery-1.12.4.js")
    script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.js")
    script(src="/javascripts/ru_date.js")

    script(src="/javascripts/messages.js")
    link(rel='stylesheet', href='/stylesheets/users.css')

    h1 Список сообщений пользователя
    -for (var i = 0; i < users.length; i++)
        if (i != hide_user)
            table.height_table.table_avatar(data-length=users.length)(class=i + 100)(class="w3-border w3-bordered w3-centered")
                td(class=i + 1)
                    table.left_user_form
                        tr
                            td.image_height(hidden=false).image_x
                                img.avatar(class=i + 1)(src=`../images/${users[i].image}.jpg` alt='Avatar' style='width:140px; height:140px;')
                        td.name_image_height(hidden=false).name_x= users[i].name
                td.text_td(class=i + 1)
                    p(class=i + 1)(data-messages=users[hide_user].messages[i]) Переписка:
                    td.message(class=i+1)
                        input(class=i+1)(type="text", value="")
                        //-let
                        button.send_message(class=i+1)(data-index = users[i].image, data-hide_user = hide_user) Отправить сообщение

            //button.clear_messages(class=i + 1)(data-index = users[i].image, data-pic = i) Очистить переписку
            br
            br


    br
    br
    button(onclick='window.location = "https://localhost:3000";') Вернуться к списку пользователей